<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>926242662602-lbsbq9n77qs50ulcdcnf1tf4kshqk4ni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926242662602-lbsbq9n77qs50ulcdcnf1tf4kshqk4ni</string>
	<key>API_KEY</key>
	<string>AIzaSyCv7GIqje3dVI2b7SCuZ0zH66I3kjzUeGw</string>
	<key>GCM_SENDER_ID</key>
	<string>926242662602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-c25b7</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-c25b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926242662602:ios:b835cd6ffa050c95712c33</string>
</dict>
</plist>